<table width="100%" cellpadding="0" cellspacing="0" style="border-collapse:collapse;">
  <tr>
    <td
      style="
      padding: 10px 0 20px;
      word-break:break-word;
      font-size:16px;
      line-height:24px;"
    >
      <table class="table" width="100%" cellpadding="0" cellspacing="0" style="border-collapse:collapse;">
        <tr>
          <th align="left" class="product-table-header">
            Products
          </th>
          <th align="right" class="product-table-header" style="width:60px;">
            Coles
          </th>
          <th align="right" class="product-table-header" style="width:60px;">
            Woolies
          </th>
          <th align="middle" class="product-table-header" style="width:60px;">
            IGA
          </th>
        </tr>
        {{ rows }}
      </table>
    </td>
  </tr>
</table>