name: Weekly email service

on:
  schedule:
    # Runs “At 07:30 on Wednesday.” UTC+11 (see https://crontab.guru) & remember that the below is in UTC!
    - cron: '30 20 * * 2'
  workflow_dispatch:
    inputs:
      dry_run:
        default: true
        type: boolean

jobs:
  coles_vs_woolies:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repo
        uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
          cache: 'pip'
      - name: Install dependencies
        env:
          timezone: 'Australia/Melbourne'
        run: |
          sudo timedatectl set-timezone $timezone
          pip install -r requirements.txt
#      - name: Unit Tests
#        run: python -m unittest
      - name: Email comparisons
        env:
          MAILERSEND_API_KEY: ${{ secrets.MAILERSEND_API_KEY }}
        run: |
          python coles_vs_woolies send \
            ${{ vars.GROCERY_LIST }} \
            --to_addrs ${{ inputs.to_addr || secrets.TO_ADDRS }} \
            --from_addr no-reply@${{ secrets.DOMAIN }} 
      
